:root {
	--wle-logo-url: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Wiki_Loves_Earth_Bangladesh_Logo_%28Horizontal%29.svg");
}

.skin-theme-clientpref-night {
	--wle-logo-url: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Wiki_Loves_Earth_Bangladesh_Logo_%28Horizontal%29.svg");
}


#wlm-de {
	padding: 0;
	width: 100%;
	margin-bottom: 1em;
	position: relative;
}

#mw-mf-viewport #wlm-de {
	margin-bottom: 0 !important;
}

#wlm-de>a {
	display: table;
	table-layout: fixed;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: var(--background-color-notice-subtle, #FFF);
	font-size: 16px;
	font-weight: bold;
	line-height: 1.125;
	text-align: left;
	width: 100%;
	padding: 0;
	box-shadow: 0.1em 0.1em 0.6em 0 rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s;
	height: auto;
	text-decoration: none;
}

#wlm-de>a:hover {
	text-decoration: none;
	box-shadow: 0.06em 0.06em 0.4em 0 rgba(0, 0, 0, 0.7);
}

#wlm-de,
#wlm-de * {
	box-sizing: border-box;
}

#wlm-de>a>* {
	display: table-cell;
	vertical-align: middle;
	padding: 0.7em 1.5em;
}

#wlm-de>a .wlm-logo {
	width: 10em;
	text-indent: -1000em;
	background-image: var(--wle-logo-url);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 40% 47%;
}

#wlm-de>a .wlm-image {
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WLE_Bangladesh_Banner_2025.jpg/960px-WLE_Bangladesh_Banner_2025.jpg');
	background-position: 0 50%;
	transition: background-position 4s;
}

@media (prefers-color-scheme: dark) {
	.wlm-logo {
		background-image: var(--wle-logo-url);
	}
}

#wlm-de>a:hover .wlm-image {
	background-position: 100% 50%;
}

#wlm-de .wlm-cta {
	position: relative;
	background-color: #339966;
	color: #FFF;
	width: 20em;
	padding-right: 1.5em;
	font-family: sans-serif;
}

#wlm-de .wlm-cta:after {
	position: absolute;
	right: 0.7em;
	top: 50%;
	transform: translateY(-61%);
	content: '»';
	display: block;
	font-size: 2em;
	font-weight: normal;
	transition: right 0.3s;
}

#wlm-de a:hover .wlm-cta:after {
	right: 0.4em;
}

#wlm-de .wlm-close {
	position: absolute;
	right: 0.4em;
	top: 0.4em;
}

.banner-container {
	margin: 0;
	max-width: 100%;
}

@media screen and (max-width:719px) {
	#wlm-de>a .wlm-logo {
		position: absolute;
		background-image: var(--wle-logo-url);
		background-color: var(--background-color-backdrop-light, #ffffffbb);
		background-size: 20%;
	}

	#wlm-de>a {
		display: block;
		table-layout: auto;
		height: auto;
	}

	#wlm-de>a>* {
		display: block;
		width: 100% !important;
		min-height: 88px;
		vertical-align: middle;
	}

	#wlm-de>a>.wlm-cta {
		font-size: .8em;
		min-height: 2.8em;
		padding-right: 3em;
	}

	#wlm-de>a .wlm-logo {
		background-position: 48% 47%;
	}

	#wlm-de>a br {
		display: none;
	}

	#wlm-de .wlm-close {
		right: 0;
		top: 0;
	}

	#wlm-de .wlm-close a {
		display: block;
		padding: 1em 1em .5em .5em;
	}
}

@media screen and (max-width:55.8em) {
	.wlm-de {
		position: relative;
		top: -1px;
		margin-left: -20px !important;
		margin-right: -20px !important;
	}

	.wlm-de .outer-box,
	.wlm-de .inner-box {
		padding-left: 2em !important;
		padding-right: 2em !important;
	}

	.wlm-de .inner-box {
		margin-left: -2em !important;
		margin-right: -2em !important;
	}

	.wlm-de .wlm-title {
		font-size: 5.4vw !important;
	}
}

@media screen and (max-width:30em) {
	.wlm-de .wlm-title {
		font-size: 7.2vw !important;
	}
}
